:root {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  --header-bg-color: #db4c3f;
  --nav-bg-color: #f5f5f5;
  --footer-bg-color: #fafafa;
}

body {
  margin: 0px;
}

#content {
  min-width: 100vw;
  min-height: 100vh;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin: 0px;

  display: grid;
  grid-template-rows: 5rem 1fr 2rem;
  grid-template-columns: 2fr 7fr;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
  background-color: var(--header-bg-color);
  color: white;
  font-size: 4vh;
  padding-left: 6vh;
  padding-right: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--nav-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8vh;
}

.main-container {
  grid-area: 2 / 2 / 3 / 3;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}

.footer {
  grid-area: 3 / 1 / 4 / 3;
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-task-button,
.new-project-button,
.delete-button {
  border: none;
  background: none;
}

.task-button-svg {
  width: 8vh;
  padding: none;
  margin: none;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}

.task-button-svg:hover {
  width: 12vh;
}

/* Add new to do form styles */

.to-do-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  font-size: 2rem;
  background-color: #246fe0;
  padding: 2rem;
  max-width: 80%;
  border-radius: 10px;
}

.to-do-form-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 1rem;
  padding: 2rem;
  min-width: 40%;
}
.to-do-form-fieldset input,
.to-do-form-fieldset select {
  border-radius: 3px;
  border: none;
  height: 4vh;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.form-buttons > :first-child {
  background-color: #4b9244;
  color: white;
}

.form-buttons > :last-child {
  background-color: #db4c3f;
  color: white;
}
.form-buttons button {
  border-radius: 1rem;
  width: 12rem;
  height: 4rem;
  border: none;
}
.to-do-form-container.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.time-based-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-left: 1vh;
}

.time-based-container div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3vh;

  font-size: 13px;
}

.projects-container {
  padding-left: 1vh;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

#content > div.nav > div.projects-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
}
.project-button-svg:hover {
  width: 5vh;
}

div.projects-title-div > h3 {
  font-size: 13px;
}

.project-div {
  margin-left: 2vh;
}

.main-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  font-size: 1.5rem;
  background-color: rgb(91, 209, 215, 0.1);
  min-width: 80%;
  box-shadow: 5px 5px 5px 2px rgb(118, 127, 166, 0.5);
}

.main-container > div > div {
  min-width: 12%;
}

.low {
  color: rgb(158, 235, 70);
}

.medium {
  color: rgb(240, 191, 76);
}
.high {
  color: rgb(245, 151, 148);
}

.completed {
  text-decoration: line-through;
}

#content > div.nav > div.projects-container > div > button > img {
  width: 15px;
}

div.projects-container > div > button {
  border: none;
}

div.projects-container > div > button:hover {
  width: 5vh;
}

.project-holder {
  max-width: 80%;
}

div["class^=to-do"] {
  box-shadow: 0px 5px 5px 5px rgb(118, 127, 166, 0.5);
}

@media screen and (max-width: 700px) {
  :root {
    font-size: 5px;
  }
}
